.header-container {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  background-color: aquamarine;
}

.header-title {
  text-align: center;
  margin: 0;
}

.login-button {
  height: 40px;
}

.nav {
  border: 2px solid black;
  width: 100%;
  overflow-x: auto;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav li {
  margin-bottom: 10px;
}

.hero {
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
}

.articles-container {
  border: 2px solid black;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
}

.article-card {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}

.articles-header,
.hero-header {
  text-align: center;
}

img {
  width: 80%;
}

.comment-card {
  border: 2px solid black;
}
